In [1]:
import pandas as pd 

df = pd.read_csv("oscar_age_male.csv")

print(df.head())

   Index   "Year"   "Age"               "Name"  \
0      1     1928      44      "Emil Jannings"
1      2     1929      41      "Warner Baxter"
2      3     1930      62      "George Arliss"
3      4     1931      53   "Lionel Barrymore"
4      5     1932      47      "Wallace Beery"

                                    "Movie"
0   "The Last Command The Way of All Flesh"
1                          "In Old Arizona"
2                                "Disraeli"
3                             "A Free Soul"
4                               "The Champ"

In [2]:
print(df.columns)

Index(['Index', ' "Year"', ' "Age"', ' "Name"', ' "Movie"'], dtype='object')

In [3]:
sean_penn = df[df[' "Name"'] == ' "Sean Penn"']
print(sean_penn)

    Index   "Year"   "Age"        "Name"          "Movie"
76     77     2004      43   "Sean Penn"   "Mystic River"
81     82     2009      48   "Sean Penn"           "Milk"

In [4]:
# Bersihkan nama kolom
df.columns = df.columns.str.strip().str.replace('"', '')

In [5]:
# Bersihkan data pada kolom Name
df['Name'] = df['Name'].str.strip().str.replace('"', '')

In [6]:
# Cari Sean Penn
sean_penn = df[df['Name'] == 'Sean Penn']
print(sean_penn)

    Index  Year  Age       Name            Movie
76     77  2004   43  Sean Penn   "Mystic River"
81     82  2009   48  Sean Penn           "Milk"

In [7]:
# Rename kolom agar rapi
df.columns = df.columns.str.strip().str.replace('"', '')

In [8]:
print(df['Name'].unique())

['Emil Jannings' 'Warner Baxter' 'George Arliss' 'Lionel Barrymore'
 'Wallace Beery' 'Fredric March' 'Charles Laughton' 'Clark Gable'
 'Victor McLaglen' 'Paul Muni' 'Spencer Tracy' 'Robert Donat'
 'James Stewart' 'Gary Cooper' 'James Cagney' 'Paul Lukas' 'Bing Crosby'
 'Ray Milland' 'Ronald Colman' 'Laurence Olivier' 'Broderick Crawford'
 'Jos√© Ferrer' 'Humphrey Bogart' 'William Holden' 'Marlon Brando'
 'Ernest Borgnine' 'Yul Brynner' 'Alec Guinness' 'David Niven'
 'Charlton Heston' 'Burt Lancaster' 'Maximilian Schell' 'Gregory Peck'
 'Sidney Poitier' 'Rex Harrison' 'Lee Marvin' 'Paul Scofield'
 'Rod Steiger' 'Cliff Robertson' 'John Wayne' 'George C. Scott'
 'Gene Hackman' 'Jack Lemmon' 'Art Carney' 'Jack Nicholson' 'Peter Finch'
 'Richard Dreyfuss' 'Jon Voight' 'Dustin Hoffman' 'Robert De Niro'
 'Henry Fonda' 'Ben Kingsley' 'Robert Duvall' 'F. Murray Abraham'
 'William Hurt' 'Paul Newman' 'Michael Douglas' 'Daniel Day-Lewis'
 'Jeremy Irons' 'Anthony Hopkins' 'Al Pacino' 'Tom Hanks' 'Nicolas Cage'
 'Geoffrey Rush' 'Roberto Benigni' 'Kevin Spacey' 'Russell Crowe'
 'Denzel Washington' 'Adrien Brody' 'Sean Penn' 'Jamie Foxx'
 'Philip Seymour Hoffman' 'Forest Whitaker' 'Jeff Bridges' 'Colin Firth'
 'Jean Dujardin' 'Matthew McConaughey' 'Eddie Redmayne'
 'Leonardo DiCaprio' 'Casey Affleck' 'Gary Oldman' 'Rami Malek'
 'Joaquin Phoenix' 'Will Smith' 'Brendan Fraser' 'Cillian Murphy']

In [9]:
# Tampilkan beberapa baris untuk cek data
print(df.head(10))

   Index  Year  Age              Name  \
0      1  1928   44     Emil Jannings
1      2  1929   41     Warner Baxter
2      3  1930   62     George Arliss
3      4  1931   53  Lionel Barrymore
4      5  1932   47     Wallace Beery
5      6  1933   35     Fredric March
6      7  1934   34  Charles Laughton
7      8  1935   34       Clark Gable
8      9  1936   49   Victor McLaglen
9     10  1937   41         Paul Muni

                                      Movie
0   "The Last Command The Way of All Flesh"
1                          "In Old Arizona"
2                                "Disraeli"
3                             "A Free Soul"
4                               "The Champ"
5                 "Dr. Jekyll and Mr. Hyde"
6          "The Private Life of Henry VIII"
7                   "It Happened One Night"
8                          "The Informer"\t
9            "The Story of Louis Pasteur"\t

In [10]:
# Jika kolom Movie berisi NaN, cek apakah data bergeser
print(df.isnull().sum())

Index    0
Year     0
Age      0
Name     0
Movie    0
dtype: int64

In [11]:
df['Movie'] = df['Movie'].fillna(df['Name'])

In [12]:
print(df.head())

   Index  Year  Age              Name  \
0      1  1928   44     Emil Jannings
1      2  1929   41     Warner Baxter
2      3  1930   62     George Arliss
3      4  1931   53  Lionel Barrymore
4      5  1932   47     Wallace Beery

                                      Movie
0   "The Last Command The Way of All Flesh"
1                          "In Old Arizona"
2                                "Disraeli"
3                             "A Free Soul"
4                               "The Champ"

In [13]:
# Hilangkan tanda kutip di semua kolom
df = df.applymap(lambda x: x.strip('"') if isinstance(x, str) else x)

# Jika ada data yang masih salah, cek dan perbaiki manual
print(df[['Name', 'Movie']].head(10))

               Name                                    Movie
0     Emil Jannings   "The Last Command The Way of All Flesh
1     Warner Baxter                          "In Old Arizona
2     George Arliss                                "Disraeli
3  Lionel Barrymore                             "A Free Soul
4     Wallace Beery                               "The Champ
5     Fredric March                 "Dr. Jekyll and Mr. Hyde
6  Charles Laughton          "The Private Life of Henry VIII
7       Clark Gable                   "It Happened One Night
8   Victor McLaglen                         "The Informer"\t
9         Paul Muni           "The Story of Louis Pasteur"\t

C:\Users\ACER\AppData\Local\Temp\ipykernel_4292\709404733.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip('"') if isinstance(x, str) else x)

In [14]:
# Cek jika ada data Movie yang mengandung nama aktor, atau sebaliknya
print(df[df['Movie'].str.contains('Penn|Jannings|Baxter|Arliss|Barrymore|Beery', na=False)])

Empty DataFrame
Columns: [Index, Year, Age, Name, Movie]
Index: []

In [15]:
print(df.head())

   Index  Year  Age              Name                                    Movie
0      1  1928   44     Emil Jannings   "The Last Command The Way of All Flesh
1      2  1929   41     Warner Baxter                          "In Old Arizona
2      3  1930   62     George Arliss                                "Disraeli
3      4  1931   53  Lionel Barrymore                             "A Free Soul
4      5  1932   47     Wallace Beery                               "The Champ

In [16]:
df = pd.read_csv(
    "oscar_age_male.csv",
    header=None,
    delimiter=",",
    quotechar='"',
)
df.columns = ["Index", "Year", "Age", "Name", "Movie"]
df = df.drop(columns=["Index"])
print(df.head())

      Year     Age                 Name  \
0   "Year"   "Age"               "Name"
1     1928      44      "Emil Jannings"
2     1929      41      "Warner Baxter"
3     1930      62      "George Arliss"
4     1931      53   "Lionel Barrymore"

                                      Movie
0                                   "Movie"
1   "The Last Command The Way of All Flesh"
2                          "In Old Arizona"
3                                "Disraeli"
4                             "A Free Soul"

In [17]:
df = df.iloc[1:].reset_index(drop=True)
print(df.head())

    Year  Age                 Name                                     Movie
0   1928   44      "Emil Jannings"   "The Last Command The Way of All Flesh"
1   1929   41      "Warner Baxter"                          "In Old Arizona"
2   1930   62      "George Arliss"                                "Disraeli"
3   1931   53   "Lionel Barrymore"                             "A Free Soul"
4   1932   47      "Wallace Beery"                               "The Champ"

In [18]:
df.index = df.index + 1
print(df.head())

    Year  Age                 Name                                     Movie
1   1928   44      "Emil Jannings"   "The Last Command The Way of All Flesh"
2   1929   41      "Warner Baxter"                          "In Old Arizona"
3   1930   62      "George Arliss"                                "Disraeli"
4   1931   53   "Lionel Barrymore"                             "A Free Soul"
5   1932   47      "Wallace Beery"                               "The Champ"